*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center ;
    column-gap: 1.5rem;
 padding: 1.5rem;
    border: 1px solid black;
}

#blur-img{
    filter: blur(0px);
}
